<div class="row">
	<div class="span6">
		<h3>Google Search Demo</h3>
	</div>
</div>

<div class="row">
	<div class="span6">
		<div class="input-append">
			<form class="form-search">
		    	<div class="input-append">
		        	<input type="text" class="span5 search-query" ng-model="spookyQuery" placeholder="Enter a Google search query">
		         	<button type="submit" class="btn" ng-click="actionAtADistance()" ng-disabled="disableSpookyButton">Search</button>
		      	</div>
		  	</form>
		</div>

		<div>
			<input type="button" class="btn btn-primary" ng-click="actionAtADistance()" value="Action At A Distance" ng-show="nonLocalDocumentLocation" ng-disabled="disableSpookyButton">
		</div>

		<div ng-show="disableSpookyButton">
			<div class="loading">
				Loading...
			</div>
			<div class="loading-bar">
				<div class="progress progress-striped active span4">
					<div class="bar" style="width: 90%;"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="span10 well" style="height: 350px; overflow-y: auto;">
		<div ng-repeat="link in spooky.data">
			<div><a href="{{link}}" target="_blank">{{link}}</a></div>
		</div>
	</div>
</div>