<div class="row">
	<div class="span6">
		<h3>Action At A Distance Bing Social Demo</h3>
	</div>
</div>

<div class="row">
	<div class="span7">
		<div style="height: 30px;">
			<div ng-show="ActionAtADistanceGuid">
				Your Spooky Guid: {{ActionAtADistanceGuid}}
			</div>
		</div>

		<div>
			<textarea ng-model="spookyAction" style="margin: 0px 0px 10px; width: 492px; height: 169px;">
			</textarea>
		</div>

		<div>
			<input type="button" class="btn btn-primary" ng-click="actionAtADistance()" value="Action At A Distance" ng-show="spookyAction">
		</div>
	</div>

	<div class="span6">
		<div ng:repeat="item in spooky" ng-bind-html-unsafe="item"></div>
	</div>
</div>

<div>
	{{data.result.data}}
</div>